


<h3 style="text-align:center">{{#str}} participation, mod_questionnaire {{/str}} {{percent}}  %</h3>
<div id="page-mod-questionnaire-complete" class="progressbar">
    <div class="questionnaire-progressbar-wrapper"><div class="questionnaire-progressbar">
        <div class="questionnaire-progressbar-progress" style="width:{{percent}}%">
        </div></div></div></div>
<div style="color:gray">{{#str}} totalresponses, mod_questionnaire {{/str}}: {{nanswers}}
<br>
{{#str}} allparticipants {{/str}}: {{nusers}}</div>